<template name="adminNav">
    <nav class="nav nav-pills nav-stacked" role="navigation">
        <li class="{{isActiveRoute 'disciplineAdminList'}}"><a href="{{pathFor 'disciplineAdminList'}}">Disciplines <span class="badge pull-right">{{disciplineCount}}</span></a>
        </li>
        <li class="{{isActiveRoute 'questionAdminList'}}"><a href="{{pathFor 'questionAdminList'}}">Questions <span class="badge pull-right">{{questionCount}}</span></a>
        </li>
       <!--  <li class="{{isActiveRoute 'cookbookAdminList'}}"><a href="{{pathFor 'cookbookAdminList'}}">Cookbook <span class="badge pull-right">{{cookbookCount}}</span></a>
        </li>
        <li class="{{isActiveRoute 'lectureAdminList'}}"><a href="{{pathFor 'lectureAdminList'}}">Lectures <span class="badge pull-right">{{lectureCount}}</span></a>
        </li>
        <li class="{{isActiveRoute 'jobAdminList'}}"><a href="{{pathFor 'jobAdminList'}}">Jobs <span class="badge pull-right">{{jobCount}}</span></a>
        </li> -->
        <li class="{{isActiveRoute 'userAdminList'}}"><a href="{{pathFor 'userAdminList'}}">Users <span class="badge pull-right">{{userCount}}</span></a>
        </li>
    </nav>
</template>
