<template name="questionAdminList">
    <style>
    .table-panel th:first-child, .table-panel td:first-child {
        padding-left:15px !important;
    }
    .table-panel th:last-child, .table-panel td:last-child {
        padding-right: 15px !important;
    }
    .modal-body {
        max-height: 75vh;
        overflow-y: scroll;
    }
    </style>
    <div class="panel panel-default">
        <div class="panel-body">
            <form role="form" class="form-horizontal">
                <input type="search" class="form-control" placeholder="Filter by title&hellip;" disabled>
                <br>
                <div class="form-group">
                    <label for="subjectSelector" class="control-label col-lg-1">Subject:</label>
                    <div class="col-lg-5">
                        <select id="subjectSelector" class="form-control" disabled>
                            <option value="" selected>All</option>
                            {{#each subjectValues}}
                            <option value="{{_id}}">{{makeTitle name}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <label for="statusSelector" class="control-label col-lg-1">Status:</label>
                    <div class="col-lg-5">
                        <select id="statusSelector" class="form-control" disabled>
                            <option value="" selected>All</option>
                            <option value="true">Open</option>
                            <option value="false">Closed</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
        <div class="table-responsive">
            <table class="table table-condensed table-hover table-bordered table-panel">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Creation Date</th>
                        <th>Last Updated</th>
                        <th>Author</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each questions}}
                    <tr>
                        <td><a href="#" data-toggle="modal" data-target="#{{_id}}">{{makeTitle title}}</a>
                        </td>
                        <td>{{displayDate createdAt "Never"}}</td>
                        <td>{{displayDate updatedAt "Never"}}</td>
                        <td>{{getUsername author}}</td>
                        <td>{{getQuestionStatus openStatus}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        <div class="panel-footer">
            <button type="button" id="view-more" class="btn btn-default btn-block">View More</button>
        </div>
    </div>
    {{#each questions}}
    <div class="modal fade" id="{{_id}}" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="modal-label">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                    <h4 class="modal-title" id="modal-label">
                        {{makeTitle title}}
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <ul class="nav nav-pills nav-justified" role="tablist">
                                <li class="disabled">Question</li>
                                <li class="active"><a href="#questionHtml" role="tab" data-toggle="tab">HTML</a>
                                </li>
                                <li><a href="#questionMarkdown" role="tab" data-toggle="tab">Markdown</a>
                                </li>
                            </ul>
                        </div>
                        <div class="panel-body">
                            <div class="tab-content">
                                <div class="tab-pane fade active in" id="questionHtml">
                                    <p>{{{htmlContent}}}</p>
                                </div>
                                <div class="tab-pane fade" id="questionMarkdown">
                                    <pre>{{{mdContent}}}</pre>
                                </div>
                            </div>
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <strong>Author: </strong>{{getUsername author}}
                            </li>
                            <li class="list-group-item">
                                <strong>Subject(s): </strong>
                                {{#each subject}}
                                <span class="label label-default">{{getSubjectName thisValue}}</span>
                                {{/each}}
                            </li>
                            <li class="list-group-item">
                                <strong>Question Status: </strong>{{getQuestionStatus openStatus}}
                            </li>
                            <li class="list-group-item">
                                <strong>Answer Status: </strong>{{getAnswerStatus answerStatus}}
                            </li>
                            <li class="list-group-item">
                                <strong>Subscriber(s): </strong>{{getUsername author}}
                            </li>
                        </ul>
                    </div>
                    {{#with questionAnswers}} {{#each answers}}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <ul class="nav nav-pills nav-justified" role="tablist">
                                <li class="disabled">Answer</li>
                                <li class="active"><a href="#{{_id}}Html" role="tab" data-toggle="tab">HTML</a>
                                </li>
                                <li><a href="#{{_id}}Markdown" role="tab" data-toggle="tab">Markdown</a>
                                </li>
                            </ul>
                        </div>
                        <div class="panel-body">
                            <div class="tab-content">
                                <div class="tab-pane fade active in" id="{{_id}}Html">
                                    <p>{{{htmlContent}}}</p>
                                </div>
                                <div class="tab-pane fade" id="{{_id}}Markdown">
                                    <pre>{{{mdContent}}}</pre>
                                </div>
                            </div>
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <strong>Author: </strong>{{getUsername author}}
                            </li>
                            <li class="list-group-item">
                                <strong>Votes: </strong>{{votes}}
                            </li>
                            <li class="list-group-item">
                                <strong>Flagged: </strong>{{getFlagStatus flagStatus}}
                            </li>
                        </ul>
                    </div>
                    {{/each}} {{/with}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm pull-left" data-dismiss="modal">
                        Back
                    </button>
                    <button type="button" class="btn btn-info btn-sm">Re-categorize</button>
                    <button type="button" class="btn btn-primary btn-sm">Edit Question</button>
                    <button type="button" class="btn btn-warning btn-sm">Close Question</button>
                    <button type="button" class="btn btn-danger btn-sm">Delete Question</button>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</template>
