<template name="headNav">
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#header--nav">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">TGW</a>
            </div>
            <div class="collapse navbar-collapse" id="header--nav">
                <ul class="nav navbar-nav">
                    <li class="{{isActivePath 'halp'}}"><a href="{{pathFor 'questionList'}}">Halp</a>
                    </li>
                    <li class="{{isActivePath 'notes'}}"><a href="#">Hermes</a>
                    </li>
                    <li class="{{isActiveRoute 'about'}}"><a href="{{pathFor 'about'}}">About Us</a>
                    </li>
                    <li class="{{isActiveRoute 'faq'}}"><a href="{{pathFor 'faq'}}">FAQ</a>
                    </li>
                    <li class="{{isActivePath 'admin'}}"><a href="#">Admin</a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    {{> loginButtons}}
                </ul>
            </div>
        </div>
    </nav>
</template>

<template name="footerNav">
    <footer class="container-fluid">
        <div class="row">
            <nav class="col-md-12" role="navigation">
            </nav>
        </div>
    </footer>
</template>
