<template name="disciplineAdminList">
    <style>
    .table-panel th:first-child, .table-panel td:first-child {
        padding-left:15px !important;
    }
    .table-panel th:last-child, .table-panel td:last-child {
        padding-right: 15px !important;
    }
    th, td {
        vertical-align: middle !important;
    }
    </style>

    {{#each disciplines}}
    <div class="panel panel-default">
        <div class="panel-heading">{{name}}</div>
        <div class="panel-body">
            {{description}}
        </div>
        {{#if hasSubjects}}
        <div class="table-responsive">
            <table class="table table-condensed table-bordered table-panel">
                <thead>
                    <tr>
                        <th>Subject</th>
                        <th>Moderator(s)</th>
                    </tr>
                </thead>
                <tbody>
                    {{#with subjectList}} {{#each subjects}}
                    <tr>
                        <td>{{name}}</td>
                        <td></td>
                    </tr>
                    {{/each}} {{/with}}
                </tbody>
            </table>
        </div>
        {{/if}}
        <div class="panel-footer">
            <button type="button" class="btn btn-info btn-sm">Add Subject(s)</button>
            <button type="button" class="btn btn-primary btn-sm">Edit Discipline</button>
            <button type="button" class="btn btn-danger btn-sm">Delete Discipline</button>
        </div>
    </div>
    {{/each}}
</template>
