<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0">
    <meta name="apple-mobile-web-app-title" content="Site Title">
    <meta name="description" content="Page Description">

    <!-- Prefetch CDNs and External Dependencies -->
    <link rel="dns-prefetch" href="//google-analytics.com">
    <link rel="dns-prefetch" href="//mathjax.org">

    <!-- FIXME: Temporary mojo while we're test deploying on Meteor -->
    <link rel="dns-prefetch" href="//meteor.com">

    <!-- Load Favicons -->
    <link rel="shortcut icon" href="/icon.png">
    <link rel="apple-touch-icon-precomposed" href="/icon.png">

    <script>
    window.addEventListener('load', function() {
        FastClick.attach(document.body);
    }, false);
    </script>

    <style>
    textarea {
        resize: vertical;
    }
    .alert {
        margin-bottom: 0 !important;
        border-radius: 0 !important;
    }
    .breadcrumb {
        border-radius: 0 !important;
    }
    .navbar {
        margin-bottom: 0 !important;
    }
    </style>
</head>
