// Uses the "Solarized" color scheme found at http://ethanschoonover.com/solarized

//// HEX CODES ////
$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;

$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;

$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;

// BACKGROUND //
$color--background__body: #fff;

// BACKGROUND-COLOR MODIFIERS //
%color--background__body      { background-color: $color--background__body; }

// TEXT //
$color--text__header: #333;
$color--text__body:   #444;
$color--text__accent: $base1;

$color--link__normal: $red;
$color--link__hover:  $magenta;

$color--form__invalid: $red;

// TEXT-COLOR MODIFIERS //
%color--text__header  { color: $color--text__header;  }
%color--text__body    { color: $color--text__body;    }
%color--text__accent  { color: $color--text__accent;  }
%color--link__normal  { color: $color--link__normal;  }
%color--link__hover   { color: $color--link__hover;   }
%color--form__invalid { color: $color--form__invalid; }