%font-smoothing-settings
{
    @include prefixer(font-smoothing, antialiased, (webkit,ms,o,spec));
}

%font-misc-settings
{
    font-size-adjust: auto;

    font-kerning: normal;
    text-rendering: optimizeLegibility;
}

//// LATO FONT-FACE ////
// Config for the Lato font-face loaded via a stylesheet called
// from the brick.im CDN (in main.html)

%font--lato
{
    font-family: 'Lato', 'HelveticaNeue LT 35 Thin', 'Helvetica Neue', 'Arial', 'sans-serif';

    @extend %font-smoothing-settings;
    @extend %font-misc-settings;
}

//// INCONSOLATA FONT-FACE ////
// Config for the Inconsolata font-face loaded via a stylesheet called
// from the brick.im CDN (in main.html)
// Usage: Code and Preformatted Text

%font--inconsolata
{
    font-family: 'Inconsolata', 'monospace';

    @extend %font-smoothing-settings;
    @extend %font-misc-settings;
}