input,
input[type="search"],
textarea,
select,
progress,
fieldset,
button {
  @extend %font--light;

  @include prefixer(appearance, none, (webkit,moz,spec));

  margin: 0;
  padding: 0;

  outline: none;
  background: none;
  border: 0 none white;
  border-radius: 0;

  display: block;
}

input:not([type="submit"]):not([type="reset"]),
textarea,
select {
  text-overflow: ellipsis;
  &:focus {
  }
  &:invalid {
    @extend %color--form__invalid;
  }
  &:disabled {
    cursor: not-allowed;
  }
}

[contenteditable] {
  outline: none;
}

.hidden-submit {
  visibility: collapse;
}

button {
  @extend %font--size__05;
  @extend %font--regular;

  flex-grow: 1;

  padding: #{$scale07}rem 0 !important;
}

%button--color__violet {
  color: $violet;
  border: #{$scale01}rem solid $violet;
}

%button--color__orange {
  color: $orange;
  border: #{$scale01}rem solid $orange;
}

%button--color__red {
  color: $red;
  border: #{$scale01}rem solid $red;
}

%button--color__green {
  color: $green;
  border: #{$scale01}rem solid $green;
}

.button--left__transparent {
  border-left: 0 none transparent;
}

.button--right__transparent {
  border-right: 0 none transparent;
}

.button--submit__post {
  @extend %button--color__violet;

  width: 80%;
}

.button--back {
  @extend %button--color__orange;

  min-width: 20%;

  &:not(:only-of-type) {
    @extend .button--right__transparent;
  }
}

.button--edit__post {
  @extend %button--color__violet;

  width: 60%;
}

.button--delete__post {
  @extend %button--color__red;

  width: 20%;
}

.button--more-posts {
  @extend %button--color__violet;

  min-width: 50%;
}

.button--new__post {
  @extend %button--color__green;

  width: 50%;
}

input[type="file"] {
  &::-webkit-file-upload-button {
    @extend %padding--0;
    @extend %font--lato;

    background: none;
    border: none;
    cursor: pointer;

    padding-right: 1em;
  }
  &:disabled {
    &::-webkit-file-upload-button {
      cursor: not-allowed;
    }
    &::-ms-browse {
    }
  }
}

progress {
  &::-webkit-progress-bar {
    background: none;
  }
  &::-webkit-progress-value {
    @include transition(width 200ms linear);
  }
  &::-moz-progress-bar {
    @include transition(width 200ms linear);
  }
  &::-ms-fill {
    @include transition(width 200ms linear);
  }
}

input[type="number"] {
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
}

input[type="date"] {
  padding-right: 0;
  &::-webkit-inner-spin-button {
    display: none;
  }
  &::-webkit-calendar-picker-indicator {
  }
  &:disabled {
    &::-webkit-calendar-picker-indicator {
      pointer-events: none;
    }
  }
}

// Uses SVG in a data URI to add a down-caret to the select dropdown
// The color of the caret for both native and focus states must be manually changed in <svg style="fill:#33CCCC">
select:not([multiple]) {
  background:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" style="fill:#33CCCC;" width="100" height="100"><path d="M50.111 72.659c-1.061 0-2.078-.422-2.829-1.172l-30.007-30.013c-1.562-1.562-1.562-4.095.001-5.657 1.563-1.562 4.096-1.562 5.657 0l27.178 27.185 27.178-27.185c1.562-1.562 4.095-1.562 5.657 0 1.562 1.562 1.562 4.094.001 5.657l-30.007 30.013c-.751.75-1.768 1.172-2.829 1.172z"/></svg>') no-repeat right center;
  background-size: contain;                                   // Sets the arrow to expand as large as possible within the field
  background-origin: content-box;                             // Aligns the image to the content boundaries
  &:focus {
    background:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" style="fill:#339999;" width="100" height="100"><path d="M50.111 72.659c-1.061 0-2.078-.422-2.829-1.172l-30.007-30.013c-1.562-1.562-1.562-4.095.001-5.657 1.563-1.562 4.096-1.562 5.657 0l27.178 27.185 27.178-27.185c1.562-1.562 4.095-1.562 5.657 0 1.562 1.562 1.562 4.094.001 5.657l-30.007 30.013c-.751.75-1.768 1.172-2.829 1.172z"/></svg>') no-repeat right center;
    background-size: contain;                                 // Sets the arrow to expand as large as possible within the field
    background-origin: content-box;                           // Aligns the image to the content boundaries
  }
  &::-ms-expand {                                             // Pseudo-element for the dropdown selector arrow on IE
  }
}

textarea {
  padding: 0;
  resize: none;
  min-height: 2.5em;
  max-height: 100%;
  width: 100%;
  overflow: auto;
  &[contenteditable] {
    -webkit-appearance: none;
  }
}