// J. A. Van de Graaf Canon

$num-col: 18;
$num-row: 9;

$height: 100;

$col-width: 100/$num-col;
$row-width: $height/$num-row;

$opacity: 10%;

$line-width: 0.15;

.vandegraaf-container {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: #{$height}vh;

  pointer-events: none;
}

.vandegraaf-col {
  float: left;

  width: #{9*$col-width}vw;
  height: inherit;

  line-height: #{$row-width}vh;
  text-align: center;

  border-right: #{$line-width}rem solid #FE48FF;

  opacity: $opacity;
}

.vandegraaf-box {
  float:left;

  width: #{(6*$col-width)+($line-width)}vw;
  height: #{(6*$row-width)+(15*$line-width)}vh;

  margin-top: #{($row-width)-(15*$line-width)}vh;
  margin-left: #{(2*$col-width)-($line-width)}vw;

  border: #{$line-width}rem solid #FE48FF;

  overflow: hidden;
}

.vandegraaf-circle {
  float: left;
  margin-top: #{($row-width)-($line-width)}vh;

  width: #{(9*$col-width)}vw;
  height: #{(9*$col-width)}vw;

  border-radius: 50%;
  border: #{$line-width}rem solid #4CFFFF;
}